<a href="https://colab.research.google.com/github/CARLOS512321/desafio-2-2020/blob/master/Untitled1variaveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variáveis

Mecanismo de armazenamento de dados, ou seja, dados salvos em pedacinhos da memórioa RAM do sistema computacional em uso (notebook, mobile, console de vídeo game, smartwatch, etc.).

In [3]:
idade = 30
print(Idade)

idade = 27
print(idade)

nome = "andré"
print(nome)

30
27
andré

Tipos Nativos

Tipos numéricos: inteiros (int) e decimais (float):

In [2]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

juros = 0.05
tipo_juros = type(preco)

print(juros)
print(tipo_juros)

1000
<class 'int'>
0.05
<class 'int'>

Tipos de texto: strings (str)

In [7]:
primeiro_nome = "André"

print(primeiro_nome)
print(type(primeiro_nome))

pais = "Brasil"

print(pais)
print(type(pais))

André
<class 'str'>
Brasil
<class 'str'>

Tipos lógicos: boleanos (bool):

In [9]:
usuário_maior_de_idade = True

print(usuário_maior_de_idade)
print(type(usuário_maior_de_idade))

True
<class 'bool'>

Tipo vazio(NoneType):

In [10]:
telefone_fixo = None

print(telefone_fixo)
print(type(telefone_fixo))

None
<class 'NoneType'>

Números

**Motivação**

Armazenam valores numéricos:

Você precisa calcular o ticket médio tkt do seu restaurante. A métrica é calculada pela soma do valor das vendas svv de um mesmo dia dividido pela quantidade de vendas sqv, também de um mesmo dia.

tkt == svv/sqv

Esta é a sua planilha:

Dia  Vr.TotalVendas  Qtd.Total Vendas   Ticket Médio
________________________________________________________________________
19/01       153,98          3             ?
20/01       337,01          7             ?
23/01       295,33          5             ?

Como podemos fazer este cálculo usando o Python?

**Definição**

* 10, 37, 500 (inteiros):
* 0.333, 10.1 (decimal):
* 1 + 2j (complexos).

São tipos:

* int (inteiros;
* float (decimais);
* complex (complexos).

In [12]:
print(type(37))
print(type(10.1))
print(type(1 + 2j))

<class 'int'>
<class 'float'>
<class 'complex'>

**Operações**

As operações dos tipos numéricos são as quatro operações matemáticas fundamentais:

* (+) (some);
* (-) (subtração);
* (*) (multiplicação);
* (/) (divisão).

Além de operaçoes mais avançadas:

* // (divisão inteira)
* ** (potência ou exponenciação);
* %  (resta da divisão).

Exemplo: Carrinho de compra de um e-commerce.

In [18]:
qtd_itens_carrinho_compra = 0

qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1
print(qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1
print(qtd_itens_carrinho_compra)

1
2

In [20]:
qtd_itens_carrinho_compra = 0

qtd_itens_carrinho_compra += 1
print(qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra += 1
print(qtd_itens_carrinho_compra)

1
2

In [21]:
preco = 47
quantidade = 0.250

total_a_pagar = quantidade * preco
print(total_a_pagar )

11.75

In [22]:
a = 3
b = 2

c = a/b
print(c)
print(type(c))

d = a//b
print(d)
print(type(d))

1.5
<class 'float'>
1
<class 'int'>

In [23]:
print(int(3.9))

print(float(10))

print(complex(1))

3
10.0
(1+0j)

Conversão

Podemos converter os tipos numéricos entre si utilizando o método nativo int, float e complex:

Dia 19/01 Total vendas 153,98 Qtd 3 Ticlet Médio ? Dia 20/01 237,01 7 ? Dia 23/01 295,33 5 ?

**Revisitando** **a** **motivação**

Tabela Motivação

Ticket médio diário do dia 19/01.

In [25]:
svv_19 = 153.98
sqv_19 = 3

tkt_19 = svv_19 / sqv_19
print(tkt_19)

51.32666666666666

In [26]:
svv_20 = 337.01
sqv_20 = 7

tkt_20 = svv_20 / sqv_20
print(tkt_20)

48.144285714285715

In [28]:
svv_23 = 295.33
sqv_23 = 5

tkt_23 = svv_23 / sqv_23
print(tkt_23)

59.065999999999995

**Ticket** **médio**

In [29]:
tkt =(tkt_19 + tkt_20 + tkt_23) / 3
print(tkt)

52.8456507936508